/database/DEM/
/database/ReprojectData/
/database/testdata/
/database/UnifiedProject/
/database/coordinate.txt
/database/polygon.cpg
/database/polygon.dbf
/database/polygon.prj
/database/polygon.shp
/database/polygon.shp.DESKTOP-KV2AA7U.9332.5736.sr.lock
/database/polygon.shx
/database/zhangzhongjing1.tif
/database/zhangzhongjing1.tif.aux.xml
/database/zhangzhongjing1.tif.ovr
/database/zhangzhongjing1.tif.vat.cpg
/database/zhangzhongjing1.tif.vat.dbf
/database/zhangzhongjing1.tif.vat.dbf.DESKTOP-KV2AA7U.9332.5736.sr.lock
/database/zhangzhongjing1020.txt
/0.61232.qgz
/dem与cf有偏移.qgz
/database/UnifiedProject2/
/database/slope/
